.dl-navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeeeee;
  position: relative;
}
.dl-navi .dl-navi-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.dl-navi .dl-navi-item {
  display: flex;
}
.dl-navi .dl-navi-item a {
  display: flex;
  text-decoration: none;
  color: #333333;
  padding: 10px 20px;
  transition: background-color 0.3s;
}
.dl-navi .dl-navi-item a:hover {
  color: #ffffff;
  background-color: #333333;
}
.dl-navi .dl-navi-fold {
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 5px 10px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  line-height: 30px;
  font-size: 30px;
  border: 0;
}
.dl-navi .dl-navi-fold:hover {
  background-color: #ddd;
  color: #333;
}
.dl-navi-dark {
  background-color: #333333;
}
.dl-navi-dark .dl-navi-item a {
  color: #ffffff;
}
.dl-navi-dark .dl-navi-item a:hover {
  color: #333333;
  background-color: #ffffff;
}
.dl-navi-light-r {
  background: transparent;
}
.dl-navi-light-r .dl-navi-item a {
  border-radius: 10px;
  color: #333333;
  margin: 10px;
  border-radius: 100px;
}
.dl-navi-light-r .dl-navi-item a:hover {
  color: #333333;
  background-color: #dddddd;
}
