.dl-navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeeeee;
}
.dl-navi .dl-navi-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.dl-navi .dl-navi-item {
  display: flex;
}
.dl-navi .dl-navi-item a {
  display: flex;
  text-decoration: none;
  color: #333333;
  padding: 10px 20px;
  transition: background-color 0.3s;
}
.dl-navi .dl-navi-item a:hover {
  color: #ffffff;
  background-color: #333333;
}
.dl-navi-dark {
  background-color: #333333;
}
.dl-navi-dark .dl-navi-item a {
  color: #ffffff;
}
.dl-navi-dark .dl-navi-item a:hover {
  color: #333333;
  background-color: #ffffff;
}
