.dl-navi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // background-color: #f8f9fa;
    background-color: #eeeeee;
    position: relative;


    .dl-navi-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .dl-navi-item {
        display: flex;
        a {
            display: flex;
            text-decoration: none;
            color: #333333;
            padding: 10px 20px;
            transition: background-color 0.3s;
            &:hover {
                color: #ffffff;
                background-color: #333333;
            }
        }
    }
    .dl-navi-fold{
        display: none;
        position: absolute;
        right: 10px;
        top: 5px;
        padding: 5px 10px;
        border: 1px solid #999;
        border-radius: 3px;
        background-color: transparent;
        color: #666;
        cursor: pointer;
        font-size: 12px;
        transition: all 0.3s;

        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0;
        line-height: 30px;
        font-size: 30px;
        border:0;

        &:hover {
            background-color: #ddd;
            color: #333;
        }
    }
}
//不同颜色的主题
.dl-navi-dark{
    background-color: #333333;
    .dl-navi-item{

        a{
            color: #ffffff;
            &:hover{
                color: #333333;
                background-color: #ffffff;
            }
        }
    }
}
//圆角亮色
.dl-navi-light-r{
    background:transparent;
    .dl-navi-item{
        a{
            border-radius: 10px;
            color: #333333;
            margin: 10px;
            border-radius: 100px;
            &:hover{
                color: #333333;
                background-color: #dddddd;
            }
        }
    }
}