.popmsg-box {
  position: fixed;
  z-index: 9999;
  width: auto;
  width: 30%;
}
.popmsg-msg {
  display: flex;
  padding-bottom: 0;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  text-align: center;
  flex-wrap: wrap;
}
.popmsg-msg-main {
  display: flex;
  width: 100%;
}
.popmsg-msg-body {
  flex: 1;
}
.large-msg {
  font-size: 20px;
  padding: 20px;
  padding-bottom: 5px;
}
.large-msg .popmsg-msg-body {
  margin-bottom: 15px;
}
.medium-msg {
  font-size: 16px;
  padding: 10px;
  padding-bottom: 5px;
}
.medium-msg .popmsg-msg-body {
  margin-bottom: 5px;
}
.small-msg {
  font-size: 12px;
  padding: 5px;
  padding-bottom: 2px;
}
.small-msg .popmsg-msg-body {
  margin-bottom: 3px;
}
.top-left {
  top: 20px;
  left: 20px;
}
.top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.top-right {
  top: 20px;
  right: 20px;
}
.center-left {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-right {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.bottom-left {
  bottom: 20px;
  left: 20px;
}
.bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-right {
  bottom: 20px;
  right: 20px;
}
.com-msg {
  background-color: #fff;
  color: #000;
  border: 1px solid #aaaaaa;
}
.info-msg {
  background-color: #2196F3;
  color: white;
}
.success-msg {
  background-color: #4CAF50;
  color: white;
}
.warning-msg {
  background-color: #FF9800;
  color: white;
}
.error-msg {
  background-color: #F44336;
  color: white;
}
.dark-msg {
  background-color: #333;
  color: white;
}
.popmsg-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popmsg-close {
  cursor: pointer;
  width: 1rem;
  font-weight: bold;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1rem;
  margin-left: 10px;
}
.popmsg-timer-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.popmsg-timer {
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ffffff;
  /* 倒计时条的颜色 */
  opacity: 0.7;
  transition: width 1s linear;
  /* 动画效果 */
  border-radius: 100px;
}
.com-msg .popmsg-timer {
  background-color: #cccccc;
}
