// This file is used to define some common styles for the website.
@import "color";
@import "format";

.bg-box {
    background-color: @dl-gray-1;
}

.radius {
    border-radius: 4px;
}

.box-shadow {
    box-shadow:0 0 10px #0000001c;
}

.box-shadow-inset {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.24);
}
.align-items-center{
    display: flex;
    align-items: center;
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}