@import "color";
@import "format";
.bg-box{
    background-color: @dl-gray-1;
}
.radius{
    border-radius: 4px;
}
.box-shadow{
    box-shadow: 0 0 10px @dl-gray-2;
}

.dl-panel{
    .radius;
    .box-shadow;
    .bg-dl-white;
    .margin-rl-20;
    border: 1px solid @dl-gray-2;
    margin-bottom: 20px;
    .dl-panel-header{
        padding: 10px 15px;
        border-bottom: 1px solid @dl-gray-2;
        font-weight: bold;
    }
    .dl-panel-body{
        padding: 10px 15px;

    }
    .dl-panel-footer{
        padding: 10px 15px;
        border-top: 1px solid @dl-gray-2;
    }
}

ul,ol{
    list-style-position: inside;
    li{
        *{
            display: contents;
        }
    }
}
.artical{
    line-height: 1.8rem;
}
